.farm
{
  position: relative;
  top: 0;
  left: 0;
}
.btn-xl {
  padding: 20px;
  font-size: 35px !important;
  border-radius: 50px;
  border-color: #3c3c31 !important;
  width: 30%;
  height: 80%;
  background-color: #94cb65 !important;
}
.btn-start-game {
  padding-top: 5px !important;
  padding-bottom: 20px;
  height: auto;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.main-logo {
  width: auto;
  height: 400px;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login-btn {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.77s;
  background-size: 200% auto;
  color: white;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
}
#login-btn {
  background-image: linear-gradient(to right, #C9DC87 0%, #74a322 40%, #5B9E48 50%, #74a322 60%, #C9DC87 100%);
}
#login-btn:hover {
  background-position: right center;
}
#game-view {
  display: none;
}
#body {
background: #D3D3D3; 
}
#project-name {
  background: #3c3c31;
}
.parent {
  padding-top: 20px;
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px black solid;
}
.image2 {
  position: absolute;
  top: 580px;
  left: 580px;
  height: 100px;
  width: 100px;
}
.farm-circle {
  border-radius: 25px;
  height: 750px;
  width: auto;
}